<h1>班级</h1>

<div>
  <%= link_to "创建班级", new_class_room_path, class: "btn btn-primary" %>
  <% if logged_in? %>
    <%= link_to "我的班级", class_rooms_path(current_user), class: "btn btn-default" %>
  <% end -%>
</div>

<div class="row">
  <div class="col-sm-12">
    <%= render 'class_rooms' %>
  </div>
</div>